* {
    box-sizing: border-box;
}

body {
    color: rgb(103, 107, 124);;
    max-width: 750px;
}

.request-form {
    padding: 18px 18px 1px 18px;
    background-color: rgb(254, 238, 215);
    font-size: 14px;
    font-family: "Helvetica Neue", sans-serif;
}

.request-header {
    margin-left: 0.7em;
    margin-bottom: 0.2em;
    margin-top: 1em;
    font-size: 25px;
    font-weight: unset;
    font-family: "Helvetica Neue", sans-serif;
    color: grey;
}

.request-form input, .request-form textarea {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 1.2em;
}

.request-form input[type="text"],
.request-form input[type="tel"],
.request-form textarea {
    padding-left: 12px;
    border: none;
    height: 35px;

    background: white;
    font-family: "Helvetica Neue", sans-serif;
    font-size: 14px;
}

.request-form textarea {
    padding-top: 8px;
    height: 115px;
    font-family: "Arial", sans-serif;
    resize: vertical;
}

.request-form footer {
    color: #808080;
}

.request-form label {
    font-weight: bold;
    color: rgb(103, 101, 102);
}

.submit-button {
    padding: 10px 12px;
    margin: 1em 0 0 auto;
    border: none;

    background-color: rgb(61, 142, 173);
    color: #FFFFFF;

    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #778899;
}

.input-field {
    width: 100%;
}