.employees-table {
    border: 1px solid lightgray;
    border-collapse: collapse;
    font-family: "Seravek", sans-serif;
    max-width: 750px;
    font-size: 18px;
    text-align: left;
}

.employees-table th {
    border: 1px solid lightgray;
    background-color: #3498DB;
    color: #FFF;
}

.employees-table th, .employees-table td {
    border: 1px solid lightgray;
    padding: 14px 10px 12px 10px;
    box-sizing: border-box;
    vertical-align: middle;
}

.employees-table tr:nth-child(odd) {
    background-color: #EEE;
}

.first-name-column {
    width: 150px;
}

.last-name-column {
    width: 152px;
}

.job-title-column {
    width: 270px;
}

.twitter-column {
    width: 175px;
}