body {
    font-size: 16px;
    font-family: "Helvetica Neue", sans-serif;
    color: #696969;
}

.form {
    background-color: rgb(254, 238, 215);
    margin: 11px;
    max-width: 740px;
    padding: 7px 10px 0 9px;
}

.form h1 {
    text-transform: uppercase;
    font-weight: unset;
    font-size: 30px;
    margin-bottom: 0.3em;
}

.form p {
    margin: 0.5em 0;
    text-indent: 1em;
    text-align: justify;
}

.old-price {
    text-decoration: line-through;
}

.course-header {
    margin-top: 12px;
    margin-bottom: 12px;
}

.course-content {
    margin-top: 16px;
}

.text-blue {
    color: rgb(61, 142, 173);
    font-weight: bold;
    display: inline;
    font-size: 18px;
}

.course-description {
    font-family: "Helvetica", sans-serif;
    line-height: 1.5em;
}